# Framework web
fastapi==0.110.0
fastapi[all]==0.110.0

# Pydantic : fastapi 0.110.0 utilise encore pydantic v1.x
pydantic<2.0

# Pour Evidently (outil de monitoring ML)
evidently==0.4.13

# Pour les requêtes HTTP
requests

# Pour l'exécution ASGI
uvicorn[standard]

# Pour Streamlit (interface web interactive)
streamlit

# Outils classiques de data science
pandas
scikit-learn
numpy
matplotlib
